body {
  background: #f2f2f2;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.album-listing {
  text-align: center;
}

.album-listing img {
  height: 150px;
  width: 150px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.album-listing h3 {
  margin-top: -10px;
  margin-bottom: 20px;
}

#landing-page hr {
  display: block;
  margin-top: 2em;
  margin-bottom: 5em;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-style: inset;
  border-width: 1px;
}

#landing-page > h1 {
  text-align: center;
  margin-top: 25px;
  font-size: 75px;
}

#landing-page {
  margin-bottom: 50px;
}

a.item {
  height: 100%;
}

#album-display {
  text-align: center;
  margin-top: 100px;
  width: 50%;
  display: inline;
  float: left;
}

#album-display img {
  height: 400px;
  margin-bottom: 1000px;
}

#album-info {
  margin-top: 150px;
  width: 50%;
  display: inline;
  float: left;
}

div.item {
  font-size: 18px;
  margin-bottom: 10px;
}

div.item strong {
  font-size: 20px;
}

.dropdown {
  margin-top: 50px;
  margin-bottom: 35px;
  margin-left: 10px;
}

.ui.fluid.dropdown {
  width: 100px;
}

#add-to-cart {
  margin-left: 10px;
}

#logo {
  width: 200px;
}

div.row {
  margin-bottom: 15px;
}

#auth-form {
  background-color: white;
  box-shadow: 5px 5px 5px grey;
  border-radius: 15px;
  height: 450px;
  width: 400px;
  position: fixed;
  top: 150px;
  left: 250px;
}

.ui.form {
  padding-top: 60px;
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 90%;
}

#input-name,
#input-email,
#input-password {
  border-radius: 50px;
  margin-top: 5px;
}

.ui.secondary.button,
.ui.secondary.button::after,
.ui.secondary.button:visited,
.ui.secondary.button:focus {
  background-color: white;
  color: black;
}

.ui.secondary.button:hover {
  background-color: white;
  color: blue;
}

#form-space {
  margin-top: 35px;
}

#form-error {
  margin-top: -15px;
  color: red;
}

div.ui.menu {
  height: 75px;
  font-size: 18px;
}

#cart-products {
  display: flex;
  flex-direction: column;
}

.cart-product {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
}

.cart-product-image {
  height: 200px;
  width: 200px;
  margin-left: 250px;
}

#checkout-dropdown {
  width: 150px;
  margin: 0px;
}

#checkout-details {
  margin-top: 25px;
}

#checkout-details .item {
  font-size: 14px;
}

#cart {
  margin-left: 100px;
}

#complete-purchase {
  text-align: center;
  margin-top: -30px;
  font-size: 25px;
}

#google-auth {
  text-align: center;
}

#checkout-success {
  margin-top: 50px;
  text-align: center;
}

#user-home {
  text-align: center;
  margin-top: 25px;
}

#user-home {
  text-align: center;
  margin-top: 25px;
}

#user-home table {
  width: 75%;
  margin: auto;
  margin-bottom: 50px;
}

#user-home img {
  height: 150px;
  width: 150px;
}

.ui.table tr td:first-child {
  text-align: center;
  width: 50%;
}
