body {
  background: #f2f2f2;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.album-listing {
  text-align: center;
}

.album-listing-title {
  height: 75px;
  padding-left: 25px;
  padding-right: 25px;
}

img.album-listing {
  height: 150px;
  margin-bottom: 10px;
}

#landing-page hr {
  display: block;
  margin-top: 2em;
  margin-bottom: 5em;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-style: inset;
  border-width: 1px;
}

#landing-page > h1 {
  text-align: center;
  margin-top: 25px;
  font-size: 75px;
}

#landing-page {
  margin-bottom: 50px;
}

a.item {
  height: 100%;
}

#album-page {
  /* margin-top: 50px; */
}

#album-display {
  text-align: center;
  margin-top: 100px;
  width: 50%;
  display: inline;
  float: left;
}

#album-display img {
  height: 400px;
  margin-bottom: 1000px;
}

#album-info {
  margin-top: 150px;
  width: 50%;
  display: inline;
  float: left;
}

div.item {
  font-size: 24px;
  margin: 10px;
}

.dropdown {
  margin-top: 50px;
  margin-bottom: 35px;
  margin-left: 10px;
}

.ui.fluid.dropdown {
  width: 250px;
}

#add-to-cart {
  margin-left: 10px;
}
